<div>
  <h1>Create new task</h1>
  <% everyone = Person.find(:all).sort_by(&:fullname) %>
  <% form_for @task, :disabled=>true do |f| %>
    <%= content_tag 'p', flash[:error], :class=>'error' if flash[:error] %>
    <table>
      <tr>
        <td><%= f.label :title, 'Title:' %></td>
        <td><%= f.text_field :title, :size=>30 %>
          <span class='tip'>Short description, shows in task list.</span>
        </td>
      </tr>
      <tr>
        <td><%= f.label :creator, 'Creator:' %></td>
        <td><%= hidden_field_tag 'task[creator]', @task.creator.to_param %><%= link_to_person authenticated %>
          <span class='tip'>That would be you.</span>
        </td>
      </tr>
      <tr>
        <td><%= f.label :owner, 'Owner:' %></td>
        <td><%= f.select :owner, [['Later ...', nil]] + (everyone - [authenticated]).map { |p| [p.fullname, p.nickname] } %>
          <span class='tip'>Select task owner now, or let someone else claim the task later.</span>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit 'Create' %></td>
      </tr>
    </table>
    <%= everyone.map { |person| hidden_field_tag 'task[potential_owners][]', person.to_param, :id=>nil } %>
  <% end %>
</div>
<%= javascript_tag "$('task_title').focus()" %>
