<%
  performing = @task.can_complete?(authenticated)
  use_description = @task.rendering.use_description?(performing)
%>
<% div_for @task do %>
  <div class='header'>
    <h1><%= link_to 'Singleshot', tasks_url, :title=>'Back to tasks list' %></h1>
    <div class='actions'>
      <%= quick_actions(@task) %>
      <%= content_tag 'button', 'More Options', :onclick=>"Singleshot.expand(event, '.header .details', 'Less options')", :class=>'button-to' %>
    </div>
    <div class='vitals'>
      <%= task_vitals(@task) %>: <%= content_tag 'span', h(@task.title), :class=>'title', :title=>@task.title %>
    </div>
    <div class='details' style='display:none'>
      <dl>
        <%= content_tag('dt', 'Description') + content_tag('dd', sanitize(simple_format(@task.description))) unless use_description %>
        <dt>Priority</dt><dd><%= ['High', 'Medium', 'Low'][@task.priority - 1] %></dd>
        <%= content_tag('dt', 'Due on') + content_tag('dd', relative_date(@task.due_on).humanize) if @task.due_on %>
        <dt>Recent activity</dt>
        <dd>
          <ul class='alternate'><%= content_tag 'li', link_to(image_tag('feed.png') + ' Feed', @alternate[Mime::ATOM], :rel=>'alternate', :title=>'Subscribe to see changes to this task') %><%= content_tag 'li', link_to(image_tag('calendar.png') + ' Calendar', @alternate[Mime::ICS], :rel=>'alternate', :title=>'Add this task to your calendar') %></ul>
          <%= render :file=>'activities/_activities', :locals=>{ :today=>Date.today, :activities=>@task.activities } %>
        </dd>
      </dl>
      <div class='actions'><%= task_actions(@task) %></div>
    </div>
  </div>

  <% if use_description %>
    <div class='description'><%= sanitize(simple_format(@task.description)) %></div>
  <% else %>
    <%= task_frame @task, performing %>
    <%= javascript_tag "Singleshot.taskView('task_frame')" %>
  <% end %>

  <% if performing && @task.rendering.use_completion_button? %>
    <div class='footer'>
      <div class='actions'><%= button_to 'Completed', task_url(@task, :status=>'completed'), :title=>'Click when task completed' %></div>
    </div>
  <% end %>
<% end %>
