<h3><%= link_to h(notification.subject), notification %></h3>
<%= content_tag 'p', "See also: " + link_to(notification.task.title, notification.task), :class=>'task' if notification.task %>
<p class='meta'>Sent on <%= l notification.created_at, :format=>:long %> by <%= link_to_person notification.creator if notification.creator %></p>
<div class='body'><%= rich_text notification.body %></div>
