<%  @atom_feed_url = notifications_url(:format=>:atom, :access_key=>authenticated.access_key) %>
<ol class='dates hfeed'>
  <% for date, copies in @copies.group_by{ |copy| copy.notification.created_at.to_date } %>
    <li class='date'>
      <h2><%= relative_date(date).humanize %></h2>
      <ol class='notifications'>
        <% copies.each do |copy| %>
          <% content_tag_for 'li', copy.notification, :class=>'hentry ' + (copy.read? ? 'read' : 'unread') do %>
            <% link_to copy.notification, :class=>'content' do %>
              <h3 class='subject'><%= h(copy.notification.subject) %></h3>
              <div class='body'><%= h(copy.notification.body) %></div>
            <% end %>
            <div class='meta'><%= link_to_person copy.notification.creator if copy.notification.creator %>
              <span class='published'><%= l(copy.notification.created_at, :format=>:hour_minute) %></span>
            </div>
          <% end %>
        <% end %>
       </ol>
    </li>
  <% end %>
</ol>
<%= will_paginate @copies %>
