<html>
  <head>
    <%= javascript_include_tag :all, :cache=>true %>
    <%= stylesheet_link_tag 'common', 'form', 'jquery-ui', :cache=>true %>
  </head>
  <body>
    <%= javascript_tag "$(function() { Singleshot.populateForm('form', #{ActiveSupport::JSON.encode(instance.data)}) });" %>
    <% form instance do %>
      <%= sanitize(Liquid::Template.parse(instance.form.html).render(instance.to_hash),
        :tags=>self.class.sanitized_allowed_tags + %w{fieldset input legend select table td textarea th tr},
        :attributes=>self.class.sanitized_allowed_attributes + %w{cols rows size type value})
      %>
      <div class='actions'>
        <%= content_tag 'button', t('.done.button'), :name=>'status', :value=>'completed', :title=>t('.done.hint') %>
        <%= content_tag 'button', t('.save.button'), :title=>t('.save.hint') %>
      </div>
    <% end %>
  </body>
</html>
