<html>
  <head>
    <title>Singleshot<%= " &mdash; #{escape_once(@title)}" if @title %></title>
    <%= javascript_include_tag :all, :cache=>true %>
    <%= stylesheet_link_tag 'default', :cache=>true %>
    <%= stylesheet_link_tag 'print', :media=>'print', :cache=>true %>
    <% @alternate.each do |mime, url| %>
      <%= auto_discovery_link_tag mime.to_sym, url %>
    <% end if @alternate %>
  </head>
  <body>
    <div id='header'>
      <h1><%= link_to 'Singleshot', root_url %></h1>
      <ul class='links'><li><%= link_to 'Logout', session_url, :method=>:delete %></li></ul>
      <ul class='tabs'><%=
        [ ['➠ Tasks', tasks_url, 'Pending and available tasks'],
          ['Following', following_tasks_url, 'Tasks you create, observing or administrating'],
          ['Completed', completed_tasks_url, 'Tasks you completed'],
          ['Activity', activities_url, 'Recent task activity'] ].map { |tab|
            content_tag 'li', link_to(tab[0], tab[1], :title=>tab[2], :class=>current_page?(tab[1]) ? 'current': nil)
          }.join %></ul>
      <ul class='alternate'><%= content_tag 'li', link_to(image_tag('feed.png') + ' Feed', @alternate[Mime::ATOM], :rel=>'alternate', :title=>'Subscribe with your feed reader') if @alternate && @alternate[Mime::ATOM] %><%= content_tag 'li', link_to(image_tag('calendar.png') + ' Calendar', @alternate[Mime::ICS], :rel=>'alternate', :title=>'Add to your calendar') if @alternate && @alternate[Mime::ICS] %></ul>
    </div>
    <div id='main'>
<%= yield %>
    </div>
    <div id='footer'>
      <!-- Footer comes here -->
    </div>
    <%= javascript_tag visual_effect(:highlight, flash['highlight'], :duration => 2) if flash['highlight'] %>
  </body>
</html>
