<html>
  <head>
    <title><%= t('.title', :title=>@title) %></title>
    <%= javascript_include_tag :all, :cache=>true %>
    <%= stylesheet_link_tag 'common', 'frame', 'singleshot', 'jquery-ui', :cache=>true %>
    <%= auto_discovery_link_tag :atom, @atom_feed_url if @atom_feed_url %>
    <%= tag :link, :rel=>'search', :type=>Mime::OSD, :href=>open_search_url, :title=>'Search your tasks list' %>
    <%= tag :link, :rel=>'next', :type=>Mime::HTML, :href=>@next if @next %>
    <%= tag :link, :rel=>'previous', :type=>Mime::HTML, :href=>@previous if @previous %>
  </head>
  <body>
	  <div id='header'>
      <ol class='sections'>
        <li class='section logo'><%= link_to image_tag('singleshot-100-20.png', :alt=>'Singleshot'), tasks_url, :title=>t('.back') %></li>
        <li class='section nav'>
        	<ol class='tabs'>
	          <li class='tab'><%= link_to t('.tasklist.link'), tasks_url, :title=>t('.tasklist.hint') %></li>
            <li class='tab'><%= link_to t('.activity.link'), activities_url, :title=>t('.activity.hint') %></li>
            <li class='tab'><%= link_to t('.inbox.link'), '', :title=>t('.inbox.hint') %></li>
					</ol>
        </li>
        <li class='section extra'>
        	<ol class='tabs'>
            <li class='tab'><%= link_to t('.settings.link'), '', :title=>t('.settings.hint') %></li>
            <li class='tab'><%= link_to t('.logout.link'), session_url, :method=>:delete, :title=>t('.logout.hint') %></li>
					</ol>
        </li>
      </ol>
    </div>
    <%= yield(:content) or yield %>
  </body>
</html>
