<html>
  <head>
    <title>Singleshot<%= ": #{@title}" if @title %></title>
    <%= javascript_include_tag :all, :cache=>true %>
    <%= stylesheet_link_tag 'common', 'frame', :cache=>true %>
    <%= auto_discovery_link_tag :atom, @atom_feed_url if @atom_feed_url %>
    <%= tag :link, :rel=>'search', :type=>Mime::OSD, :href=>open_search_url, :title=>'Search your tasks list' %>
    <%= tag :link, :rel=>'next', :type=>Mime::HTML, :href=>@next if @next %>
    <%= tag :link, :rel=>'previous', :type=>Mime::HTML, :href=>@previous if @previous %>
  </head>
  <body>
	  <div id='header'>
      <ol class='sections'>
        <li class='section logo'><%= link_to image_tag('singleshot-80-30.png', :alt=>'Singleshot'), tasks_url, :title=>t('.back') %></li>
        <li class='section nav'>
        	<ol class='tabs'>
	          <li class='tab'><%= link_to "Tasks", tasks_url, :title=>'Your task list' %></li>
	          <li class='tab'><%= link_to "Activity", '' %></li>
	          <li class='tab'><%= link_to "Inbox", '' %></li>
					</ol>
        </li>
        <li class='section'>
        	<ol class='tabs'>
	          <li class='tab'><%= link_to "Settings", '' %></li>
	          <li class='tab'><%= link_to "Logout", session_url, :method=>:delete %></li>
					</ol>
        </li>
      </ol>
    </div>
    <div id='shadow'></div>
    <div id='main'>
<%= yield %>
    </div>
  </body>
</html>
