<html>
  <head>
    <title><%= t('.title', :title=>h(instance.title)) %></title>
    <%= javascript_include_tag :all, :cache=>true %>
    <%= stylesheet_link_tag 'common', 'frame', 'task', :cache=>true %>
  </head>
  <body>
    <div id='header'>
      <ol class='sections'>
        <li class='section logo'><%= link_to image_tag('singleshot-100-20.png', :alt=>'Singleshot'), tasks_url, :title=>t('.back') %></li>
        <li class='section meta'>
          <%= content_tag 'span', h(instance.title), :title=>"#{instance.title}\n\n#{instance.description}", :class=>'title' %>
          <%= link_to image_tag('blue_down.png'), '#details', :class=>'dropdown', :title=>t('.more') %>
        </li>
        <li class='section actions'>
          <%= yield :actions %>
        </li>
      </ol>
    </div>
    <div id='details' class='dropdown'>
      <div class='description'><%= rich_text instance.description %></div>
      <%= dropdown = yield(:dropdown) ; "<hr>#{dropdown}" if dropdown %>
    </div>
    <%= content_tag 'iframe', nil, :id=>'frame', :noresize=>'noresize', :src=>@iframe_url if @iframe_url %>
  </body>
</html>
